<div class='w-[100%] h-[50px] flex flex-row justify-end bg-sky-600 items-center px-6'>
	<div class='text-xl text-[#fff] mr-[20px]'><%= @freelancer.login %></div>
	<a href='/freelancers/logout' class='text-xl text-[#fff] underline'>Выйти</a>
</div>
<div class="flex flex-col justify-center p-4 sm:w-auto md:w-[580px] m-auto">
	<div class='text-2xl text-black text-center mb-[15px]'>Выполнено: <span class='comp_row'><%= @count_complete %></span></div>
	<div>
		<% @lists.each do |item| %>
			<% link = item.channel.name || item.channel.joinchat %>
			<% select_class = item.channel_theme_id.present? ? 'border-[2px] border-green-500' : '' %>
			<div class='flex flex-col md:flex-row lg:flex-row items-center justify-between border-t-2 border-gray-300 py-2'>
				<a class='text-blue-600 underline' href='https://t.me/<%= link %>' target='_blank'><%= link %></a>
				<select class='p-3 w-[200px] set_theme mt-[10px] md:mt-0 <%= select_class %>' data-channel_id='<%= item.channel.id %>'>
					<option value=''>-- Выберите тему ---</option>
					<% @themes.each do |t| %>
						<% if item.channel_theme_id == t.id %>	
							<option value='<%= t.id %>' selected><%= t.title %></option>
						<% else %>
							<option value='<%= t.id %>'><%= t.title %></option>
						<% end %>
					<% end %>
				</select>	
			</div>
		<% end %>
	</div>

	<a href='/freelancers/update_list' class='mt-[20px] p-4 text-[#fff] text-xl text-center rounded-lg bg-sky-500 hover:bg-sky-700'>Обновить список</a>
</div>